# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o flag to save it to a file
*.out

# Go application binary
main
DemoApp

# Go workspace file
go.work

# Environment variables
.env

# Docker
.dockerignore
docker-compose.override.yml

# IDE specific files
.idea/
.vscode/

# Kubernetes secrets
kubernetes/secret.yaml

# macOS
.DS_Store
