{{- if .Values.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: reader-config
  namespace: reader
  labels:
    {{- include "reader.labels" . | nindent 4 }}
data:
  PORT: "8081"
  MINIO_BUCKET: "books-epub"
  MINIO_USE_SSL: "false"
  BOOKSTORE_API_URL: "http://app-service.bookstore.svc.cluster.local:80"
  REDIS_URL: "redis://redis-service.bookstore.svc.cluster.local:6379"
  MINIO_ENDPOINT: "minio-service.bookstore.svc.cluster.local:9000"
  BOOKSTORE_BROWSER_URL: {{ .Values.bookstoreBrowserURL | default (printf "http://bookstore.%s" .Values.global.domain) | quote }}
{{- end }}
