apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: bookstore
  labels:
    {{- include "bookstore.labels" . | nindent 4 }}
data:
  DB_HOST: "postgres-service"
  DB_PORT: "5432"
  DB_NAME: "bookstore"
  REDIS_URL: "redis-service:6379"
  ES_URL: "http://elasticsearch-service:9200"
  MINIO_ENDPOINT: "minio-service:9000"
  MINIO_USE_SSL: "false"
  READER_BROWSER_URL: {{ .Values.readerBrowserURL | default (printf "http://reader.%s" .Values.global.domain) | quote }}
  CHATBOT_BROWSER_URL: {{ .Values.chatbotBrowserURL | default (printf "http://chatbot.%s" .Values.global.domain) | quote }}
