{{- if .Values.elasticsearch.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-service
  namespace: bookstore
  labels:
    {{- include "bookstore.labels" . | nindent 4 }}
spec:
  selector:
    app: elasticsearch
  ports:
    - port: 9200
      targetPort: 9200
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: bookstore
  labels:
    {{- include "bookstore.labels" . | nindent 4 }}
spec:
  serviceName: elasticsearch-service
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      {{- include "bookstore.imagePullSecrets" . | nindent 6 }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: elasticsearch
          image: {{ .Values.elasticsearch.image }}
          ports:
            - containerPort: 9200
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
          env:
            - name: discovery.type
              value: "single-node"
            - name: xpack.security.enabled
              value: "false"
            - name: ES_JAVA_OPTS
              value: "-Xms512m -Xmx512m"
          volumeMounts:
            - name: es-storage
              mountPath: /usr/share/elasticsearch/data
          resources:
            requests:
              memory: {{ .Values.elasticsearch.resources.requests.memory | quote }}
              cpu: {{ .Values.elasticsearch.resources.requests.cpu | quote }}
            limits:
              memory: {{ .Values.elasticsearch.resources.limits.memory | quote }}
              cpu: {{ .Values.elasticsearch.resources.limits.cpu | quote }}
  volumeClaimTemplates:
    - metadata:
        name: es-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        {{- include "bookstore.storageClassName" . | nindent 8 }}
        resources:
          requests:
            storage: {{ .Values.elasticsearch.storage }}
{{- end }}
