apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{NAMESPACE}}
data:
  DB_HOST: "postgres-service"
  DB_NAME: "bookstore"
  REDIS_URL: "redis-service:6379"
  ES_URL: "http://elasticsearch-service:9200"
  MINIO_ENDPOINT: "minio-service:9000"
  MINIO_USE_SSL: "false"

