{{template "base.html" .}}

{{define "title"}}Login{{end}}

{{define "content"}}
    <article>
        <header><h1>Login</h1></header>
        {{if .Error}}
            <p><mark>{{.Error}}</mark></p>
        {{end}}
        <form action="/login/process" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="show-password">
                <input type="checkbox" id="show-password" onclick="togglePassword()">
                Show password
            </label>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a>.</p>
    </article>
    <script>
        function togglePassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{{end}}
