{{template "base.html" .}}

{{define "title"}}Login{{end}}

{{define "content"}}
    <article>
        <header><h1>Login</h1></header>
        {{if .Error}}
            <p style="color: red;">Incorrect email address or password. Please verify they are correct or create an account if a new customer.</p>
        {{end}}
        <form action="/login/process" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a>.</p>
    </article>
{{end}}
