{{template "base.html" .}}

{{define "title"}}Sign Up{{end}}

{{define "content"}}
    <article>
        <header><h1>Sign Up</h1></header>
        <form action="/signup/process" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Sign Up</button>
        </form>
    </article>
{{end}}
